= simple_form_for @contact_email do |f|

  .row
    .col-sm-6
      = f.input :name, input_html: { autofocus: true }
    .col-sm-6
      = f.input :email
  .row
    .col-sm-12
      = f.input :message, as: :text, input_html: { rows: 10 }

  .hide
    = f.input :first_name, hint: "Leave this blank!"

  = f.button :submit, "Send"
