= bootstrap_form_for @subscription_email, as: :subscription_email, url: subscribe_emails_path, layout: :inline do |f|

  = f.text_field :name, placeholder: "Name", hide_label: true
  = f.email_field :email, placeholder: "Email", hide_label: true

  = f.hidden_field :message, value: "Please add me to the mailing list."

  .hide
    = f.text_field :first_name, hint: "Leave this blank!"

  = f.submit "Subscribe"
