!!! 5
%html{ lang: "en-gb" }
  %head
    %meta{ charset: "utf-8" }/
    %meta{ name: "viewport", content: "initial-scale=1.0, width=device-width" }/
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }/
    = csrf_meta_tags

    %title
      = "#{@cms_page.label} ~ " if @cms_page.label && @cms_page.slug #not on homepage
      = @cms_site.label

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"

    /layout-specific css from CMS
    = stylesheet_link_tag comfy_cms_render_css_path(@cms_site.id, @cms_layout.identifier)

  %body{ id: @cms_page.slug || "home" }
    = render partial: "shared/navigation"

    %header.banner
      .stretcher &nbsp;
      %h1= @cms_site.label

    .main.container
      = render "shared/flash_messages"
      = yield

    %footer.footer
      .container
        .row
          .col-sm-4
            %small
              &copy; Sheffield Steal 2012 &ndash; #{Date.today.year}
          .col-sm-4.text-center
            %p Page updated #{@cms_page.updated_at.try(:strftime, "%b %d, %Y") }
          .col-sm-4.text-right
            %p
              Site by
              = link_to "Sam Rayner", "http://samrayner.com", { class: "samrayner", target: "_blank" }
