!!! 5
%html{ lang: "en-gb" }
%head
  %meta{ charset: "utf-8" }/
  %meta{ name: "viewport", content: "initial-scale=1.0, width=device-width" }/
  %meta{ name: "apple-mobile-web-app-capable", content: "yes" }/
  = csrf_meta_tags

  %title
    = "#{@cms_page.label} ~ " if @cms_page.label
    = @cms_site.label

  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"

%body{ id: @cms_page.slug || "home" }
  = render partial: "shared/navigation"

  %header.banner
    .stretcher &nbsp;
    %h1= @cms_site.label

  .main.container
    = render "shared/flash_messages"
    = yield

  %footer.footer
    .container
      .row
        .col-sm-6
          %small
            &copy; Sheffield Steal 2012 &ndash; #{DateTime.now.year}
        .col-sm-6
          %p
            Site by
            = link_to "Sam Rayner", "http://samrayner.com", { class: "samrayner", target: "_blank" }
